*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(../img/burger-background.jpg);
  background-size: 100%;
  font-family: 'Anton', sans-serif;
  color: #032380;
}

li {
    padding: 5px;
    margin: 5px;
    background-color: thistle;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  