* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  border-radius: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 250px;
}

.jumbotron {
  margin-top: 50px;
  background-color: #323743;
}

h1 {
  text-align: center;
}

body {
  background-color: #f27f3d;
  background-size: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #b6e091;
}

li {
  padding: 5px;
  margin: 5px;
  list-style-type: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}
